.overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    padding: 20px;
}
.text-wrapper{
  position: absolute;
  margin-top: 25vh;
  width : 70%;
}
.navbar{
  position: relative;
  top: 0;
  z-index: 1;
  background: transparent;
}
img{
  position: absolute;
  top: 0;
}
label{
  color: black;
}
.input{
  border: none;
  border-bottom: 1px solid rgba(51, 22, 22, 0.815);
}
.content-navbar{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.bus{
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(31, 27, 27, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
