h4{
    color: blueviolet;
}
.menu{
    background: rgb(145, 65, 219);
}
.agenda{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
    overflow-x: auto;
    width: 350px;
    position: relative;
}
.table{
    margin-top: 40px;
}
.agenda {
    scrollbar-width: thin; /* Définit la largeur de la barre de défilement */
  }
  
.agenda::-moz-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
}
  
.agenda::-moz-scrollbar-thumb {
    background-color: blue; /* Couleur de fond de la poignée de défilement en bleu */
    border-radius: 4px; /* Rayon de la bordure de la poignée de défilement */
  }
  
  .agenda::-moz-scrollbar-thumb:hover {
    background-color: darkblue; /* Couleur de fond de la poignée de défilement en bleu foncé au survol */
  }
  
  
  