.barre-horizontale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .arret-bus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }
  
  .icone-localisation {
    margin-bottom: 5px;
  }
  
  .nom-arret {
    font-size: 12px;
    color: #888888;
  }
  